@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scroll-behavior: smooth;
  }

  :root {
    --background-primary: 21 21 21;
    --background-secondary: 36 36 36;
  }

  body {
    background: rgb(var(--background-primary));
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }

  h1 {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    font-weight: bold;
  }

  h2 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
    font-weight: bold;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
  }

  footer {
    background-color: rgb(var(--background-secondary));
  }
}

@layer components {
  .autofill-text:-webkit-autofill {
    -webkit-text-fill-color: white;
  }

  .text-input {
    @apply autofill-text; /* set text colour (white) */
    @apply autofill:shadow-[inset_0_0_0px_1000px_#242424]; /* set 'background' colour (black)*/
    @apply autofill:text-base; /* set font size */
    @apply autofill:text-white;
    @apply autofill:caret-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-underline {
    @apply bg-gradient-to-b from-green to-green bg-no-repeat bg-[length:0%_6px] bg-[0_90%] animate-underline;
  }

  .link-underline {
    @apply bg-gradient-to-b from-green to-green bg-no-repeat bg-[length:0_2px] bg-[0_100%] transition-all duration-500 ease-in-out;
  }

  .link-underline:hover {
    @apply text-green bg-[length:100%_2px] bg-[0_100%];
  }

  .link-underline:focus {
    @apply text-green bg-[length:100%_2px] bg-[0_100%];
  }
}
